<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Movies{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Parisienne|Sedgwick+Ave" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% load staticfiles %}
    
    {% block styleSheets %}{% endblock %}
  </head>
  
  <body>
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">

          <div class="navbar-left" id="menuButton">
              <div class="">
                <img src="{%static 'movies/images/bars.png'%}">
              </div>
          </div>

        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="{% url 'movies:index'%}">
              <span>
                <img src="{% static 'movies/images/Movie-Club-logo.png'%}" width="30" height="30" style="display:block-inline" alt="logo">
                Movies
              </span>
            </a>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="topNavBar"> 
            
              <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'movies:results' %}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="search" value="" required="true">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <img src="http://www.freeiconspng.com/uploads/am-a-19-year-old-multimedia-artist-student-from-manila--21.png" width="30" height="30" alt="Profile">
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">My Profile</a></li>
                      <li><a href="#">SignIn</a></li>
                      <li><a href="#">Login</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;Logout</span></a></li>
                    </ul>
                </li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Sidebar -->
      <div class="sidebar" id="sideNavBar">
        <div></div><hr/>
      <form action="{% url 'movies:index' %}" method="get">
        <button type="submit">GO</button><hr/>
        <ul class="list">
          <li>
            <label for="allCheckbox">
              <input type="checkbox" name="choice" id="allCheckbox" value="all" checked="true">
              <div class="option" id="all">All</div>
              </label><hr/>
          </li>
          <li>
            <label for="actionCheckbox">
              <input type="checkbox" name="choice" id="actionCheckbox" value="action">
              <div class="option" id="action">Action</div>
            </label><hr/>
          </li>
          <li>
            <label for="adventureCheckbox">
              <input type="checkbox" name="choice" id="adventureCheckbox" value="adventure">
              <div class="option" id="adventure">Adventure</div>
            </label><hr/>
          </li>
          <li>
            <label for="comedyCheckbox">
              <input type="checkbox" name="choice" id="comedyCheckbox" value="comedy">
              <div class="option" id="comedy">Comedy</div>
            </label><hr/>
          </li>
          <li>
            <label for="crimeCheckbox">
              <input type="checkbox" name="choice" id="crimeCheckbox" value="crime">
              <div class="option" id="crime">Crime</div>
            </label><hr/>
          </li>
          <li>
            <label for="documentaryCheckbox">
              <input type="checkbox" name="choice" id="documentaryCheckbox" value="documentary">
              <div class="option" id="documentary">Documentary</div>
            </label><hr/>
          </li>
          <li>
            <label for="dramaCheckbox">
              <input type="checkbox" name="choice" id="dramaCheckbox" value="drama">
              <div class="option" id="drama">Drama</div>
            </label><hr/>
          </li>
          <li>
            <label for="familyCheckbox">
              <input type="checkbox" name="choice" id="familyCheckbox" value="family">
              <div class="option" id="family">Family</div>
            </label><hr/>
          </li>
          <li>
            <label for="fantasyCheckbox">
              <input type="checkbox" name="choice" id="fantasyCheckbox" value="fantasy">
              <div class="option" id="fantasy">Fantasy</div>
            </label><hr/>
          </li>
          <li>
            <label for="horrorCheckbox">
              <input type="checkbox" name="choice" id="horrorCheckbox" value="horror">
              <div class="option" id="horror">Horror</div>
            </label><hr/>
          </li>
          <li>
            <label for="misteryCheckbox">
              <input type="checkbox" name="choice" id="misteryCheckbox" value="mistery">
              <div class="option" id="mistery">Mistery</div>
            </label><hr/>
          </li>
          <li>
            <label for="romanceCheckbox">
              <input type="checkbox" name="choice" id="romanceCheckbox" value="romance">
              <div class="option" id="romance">Romance</div>
            </label><hr/>
          </li>
          <li>
            <label for="thrillerCheckbox">
              <input type="checkbox" name="choice" id="thrillerCheckbox" value="thriller">
              <div class="option" id="thriller">Thriller</div>
            </label><hr/>
          </li>
        </ul>
      </form>
      </div>

      <div id="mainContent" style="margin-left:200px;margin-top:61px">
        {% block body %}
        {% endblock %}
      </div>

<!-- JavaScript and JQuery -->
<div>
<script type="text/javascript">
          
        // Hide the Sidebar if the screen size is less than 480
        $(window).load(function(){
          if($(window).width() <= 480){
            $('#sideNavBar').css({'margin-top':'111px'});
            $('#sideNavBar').hide();
            $('#mainContent').css({'margin-left':'0px'});
          }

          if($('#allCheckbox').attr('checked') === 'checked'){
            $('#all').css({'background-color':'#01579b','color':'#fff'});
          }
          else{
            $('#all').css({'background-color':'#03a9f4','color':'#000'});
          }
        });

        // Toggle the sidebar
        $('#menuButton').on('click',function(){
          if($('#sideNavBar').is(':visible')){
            $('#sideNavBar').animate({'width':'0px'},'slow',function(){
              $('#sideNavBar').hide();
            });
            if($(window).width() > 480){
              $('#mainContent').animate({'margin-left':'0px'},'slow');
            }
          }
          else{
              $('#sideNavBar').show();
              $('#sideNavBar').animate({'width':'200px'},'slow');
              
              if($(window).width() > 480){
                $('#mainContent').animate({'margin-left':'200px'},'slow');
              }
          }
        });

        $('#all').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#allCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#action').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#actionCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#adventure').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#adventureCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#comedy').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#comedyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#crime').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#crimeCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#documentary').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#documentaryCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#drama').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#dramaCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#family').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#familyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#fantasy').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#fantasyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#horror').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#horrorCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#mistery').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#misteryCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#romance').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#romanceCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#thriller').hover(
          function(){ //inhover
            $(this).css({'background-color':'#022e54','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#thrillerCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#004c8c','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#allCheckbox').on('click',function(){
          if($('#allCheckbox').attr('checked') === 'checked'){
            $('#allCheckbox').attr('checked',false)
          }
          else{
            $('#allCheckbox').attr('checked',true)
          }
        })

        $('#actionCheckbox').on('click',function(){
          if($('#actionCheckbox').attr('checked') === 'checked'){
            $('#actionCheckbox').attr('checked',false)
          }
          else{
            $('#actionCheckbox').attr('checked',true)
          }
        })

        $('#adventureCheckbox').on('click',function(){
          if($('#adventureCheckbox').attr('checked') === 'checked'){
            $('#adventureCheckbox').attr('checked',false)
          }
          else{
            $('#adventureCheckbox').attr('checked',true)
          }
        })

        $('#comedyCheckbox').on('click',function(){
          if($('#comedyCheckbox').attr('checked') === 'checked'){
            $('#comedyCheckbox').attr('checked',false)
          }
          else{
            $('#comedyCheckbox').attr('checked',true)
          }
        })

        $('#crimeCheckbox').on('click',function(){
          if($('#crimeCheckbox').attr('checked') === 'checked'){
            $('#crimeCheckbox').attr('checked',false)
          }
          else{
            $('#crimeCheckbox').attr('checked',true)
          }
        })

        $('#documentaryCheckbox').on('click',function(){
          if($('#documentaryCheckbox').attr('checked') === 'checked'){
            $('#documentaryCheckbox').attr('checked',false)
          }
          else{
            $('#documentaryCheckbox').attr('checked',true)
          }
        })

        $('#dramaCheckbox').on('click',function(){
          if($('#dramaCheckbox').attr('checked') === 'checked'){
            $('#dramaCheckbox').attr('checked',false)
          }
          else{
            $('#dramaCheckbox').attr('checked',true)
          }
        })

        $('#familyCheckbox').on('click',function(){
          if($('#familyCheckbox').attr('checked') === 'checked'){
            $('#familyCheckbox').attr('checked',false)
          }
          else{
            $('#familyCheckbox').attr('checked',true)
          }
        })

        $('#fantasyCheckbox').on('click',function(){
          if($('#fantasyCheckbox').attr('checked') === 'checked'){
            $('#fantasyCheckbox').attr('checked',false)
          }
          else{
            $('#fantasyCheckbox').attr('checked',true)
          }
        })

        $('#horrorCheckbox').on('click',function(){
          if($('#horrorCheckbox').attr('checked') === 'checked'){
            $('#horrorCheckbox').attr('checked',false)
          }
          else{
            $('#horrorCheckbox').attr('checked',true)
          }
        })

        $('#misteryCheckbox').on('click',function(){
          if($('#misteryCheckbox').attr('checked') === 'checked'){
            $('#misteryCheckbox').attr('checked',false)
          }
          else{
            $('#misteryCheckbox').attr('checked',true)
          }
        })

        $('#romanceCheckbox').on('click',function(){
          if($('#romanceCheckbox').attr('checked') === 'checked'){
            $('#romanceCheckbox').attr('checked',false)
          }
          else{
            $('#romanceCheckbox').attr('checked',true)
          }
        })

        $('#thrillerCheckbox').on('click',function(){
          if($('#thrillerCheckbox').attr('checked') === 'checked'){
            $('#thrillerCheckbox').attr('checked',false)
          }
          else{
            $('#thrillerCheckbox').attr('checked',true)
          }
        })

      </script>
</div>

<!-- Header navigation CSS-->
<div>
<style type="text/css">
body{
  background-color: #bbdefb;
}

#menuButton{
  width: 60px;
  height: 60px;
  margin: 0 15px 0 0;
  cursor:pointer;
  display: inline-block;
  border-radius: 100%;
}

#menuButton:hover{
  background-color: #004ba0;
}

#menuButton img{
  margin: 18px;
}

.navbar{
  background: #1976d2;
  border-radius: 0;
  color: white;
}

.navbar-header .navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-brand{
  font-family: "Parisienne",cursive;
}

.navbar-brand span{
  color: #fff;
  font-size: 30px;
}

#topNavBar .nav ul{
  background-color: #1976d2;
}

#topNavBar .dropdown li a{
  background-color: #1976d2;
  color: #fff;
  font-family: "Sedgwick+Ave",serif
}

#topNavBar .dropdown li a:hover{
  background: #004c8c;
  color: #fff;
}
        </style>


<!-- Sidebar -->
<style type="text/css">
  
  @import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Bitter');

.list{
  padding: 0px;
  list-style-type: none;
}

.list li{
  list-style-type: none;
}

.list li label{
  width: 200px;
  margin: 0px;
  text-align: center;
  font-weight: normal;
}

.list input{
  display: none;
}

.sidebar{
  height: 100%;
  width: 200px;
  margin-top: 61px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;  
  background-color: #03a9f4;
}

.option{
  text-align: center;
  color: #1b1b1b;
  font-size: 20px;
  padding: 8px;
  font-family: "Bitter","Merriweather",serif;
  cursor: pointer;
}

hr{
  margin: 0px;
}

</style>

      </div>
  </body>

</html>