<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Movies{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Parisienne|Sedgwick+Ave" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYoo  Pp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/movies_css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movies/movies_css/sidebar.css' %}">
    {% block styleSheets %}{% endblock %}
  </head>
  
  <body>
      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">

          <div class="navbar-left" id="menuButton">
              <div class="">
                <img src="{%static 'movies/images/bars.png'%}">
              </div>
          </div>

        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="{% url 'movies:index'%}">
              <span>
                <img src="{% static 'movies/images/Movie-Club-logo.png'%}" width="30" height="30" style="display:block-inline" alt="logo">
                Movies
              </span>
            </a>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="topNavBar"> 
            
              <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'movies:results' %}">
                <div class="form-group">
                    {% if search %}
                      <input type="text" class="form-control" placeholder="Search" name="search" value="{{search}}" required="true">
                    {% else %}
                      <input type="text" class="form-control" placeholder="Search" name="search" value="" required="true">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-success">Search</button>
              </form>

              <div>
                <a href="{% url 'movies:logout' %}" class="nav navbar-right authLink">
                  <div>Logout</div>
                </a>
              </div>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Sidebar -->
      <div class="sidebar" id="sideNavBar">
        <div></div><hr/>
      <form action="{% url 'movies:index' %}" method="get">
        <button type="submit" class="btn btn-success" id="filterButton">Filter By</button><hr/>
        <ul class="list">
          
          <li>
            <label for="allCheckbox">
              {% if 'all' in choiceList %}
                <input type="checkbox" name="choice" id="allCheckbox" value="all" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="allCheckbox" value="all">
              {%endif%}
              <div class="option" id="all">All</div>
              </label><hr/>
          </li>

          <li>
            <label for="actionCheckbox">
              {% if 'action' in choiceList %}
                <input type="checkbox" name="choice" id="actionCheckbox" value="action" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="actionCheckbox" value="action">
              {% endif %}
              <div class="option" id="action">Action</div>
            </label><hr/>
          </li>
          <li>
            <label for="adventureCheckbox">
              {% if 'adventure' in choiceList %}
                <input type="checkbox" name="choice" id="adventureCheckbox" value="adventure" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="adventureCheckbox" value="adventure">
              {% endif %}
              <div class="option" id="adventure">Adventure</div>
            </label><hr/>
          </li>
          <li>
            <label for="comedyCheckbox">
              {% if 'comedy' in choiceList %}
                <input type="checkbox" name="choice" id="comedyCheckbox" value="comedy" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="comedyCheckbox" value="comedy">
              {% endif %}
              <div class="option" id="comedy">Comedy</div>
            </label><hr/>
          </li>
          <li>
            <label for="crimeCheckbox">
              {% if 'crime' in choiceList %}
                <input type="checkbox" name="choice" id="crimeCheckbox" value="crime" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="crimeCheckbox" value="crime">
              {% endif %}
              <div class="option" id="crime">Crime</div>
            </label><hr/>
          </li>
          <li>
            <label for="documentaryCheckbox">
              {% if 'documentary' in choiceList %}
                <input type="checkbox" name="choice" id="documentaryCheckbox" value="documentary" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="documentaryCheckbox" value="documentary">
              {% endif %}
              <div class="option" id="documentary">Documentary</div>
            </label><hr/>
          </li>
          <li>
            <label for="dramaCheckbox">
              {% if 'drama' in choiceList %}
                <input type="checkbox" name="choice" id="dramaCheckbox" value="drama" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="dramaCheckbox" value="drama">
              {% endif %}
              <div class="option" id="drama">Drama</div>
            </label><hr/>
          </li>
          <li>
            <label for="familyCheckbox">
              {% if 'family' in choiceList %}
                <input type="checkbox" name="choice" id="familyCheckbox" value="family" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="familyCheckbox" value="family">
              {% endif %}
              <div class="option" id="family">Family</div>
            </label><hr/>
          </li>
          <li>
            <label for="fantasyCheckbox">
              {% if 'fantasy' in choiceList %}
                <input type="checkbox" name="choice" id="fantasyCheckbox" value="fantasy" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="fantasyCheckbox" value="fantasy">
              {% endif %}
              <div class="option" id="fantasy">Fantasy</div>
            </label><hr/>
          </li>
          <li>
            <label for="horrorCheckbox">
              {% if 'horror' in choiceList %}
                <input type="checkbox" name="choice" id="horrorCheckbox" value="horror" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="horrorCheckbox" value="horror">
              {% endif %}
              <div class="option" id="horror">Horror</div>
            </label><hr/>
          </li>
          <li>
            <label for="mysteryCheckbox">
              {% if 'mystery' in choiceList %}
                <input type="checkbox" name="choice" id="mysteryCheckbox" value="mystery" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="mysteryCheckbox" value="mystery">
              {% endif %}
              <div class="option" id="mystery">Mystery</div>
            </label><hr/>
          </li>
          <li>
            <label for="romanceCheckbox">
              {% if 'romance' in choiceList %}
                <input type="checkbox" name="choice" id="romanceCheckbox" value="romance" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="romanceCheckbox" value="romance">
              {% endif %}
              <div class="option" id="romance">Romance</div>
            </label><hr/>
          </li>
          <li>
            <label for="thrillerCheckbox">
              {% if 'thriller' in choiceList %}
                <input type="checkbox" name="choice" id="thrillerCheckbox" value="thriller" checked="true">
              {% else %}
                <input type="checkbox" name="choice" id="thrillerCheckbox" value="thriller">
              {% endif %}
              <div class="option" id="thriller">Thriller</div>
            </label><hr/>
          </li>
        </ul>
      </form>
      </div>

      <div id="mainContent" style="margin-left:200px;margin-top:61px">
        {% block body %}
        {% endblock %}
      </div>

  <!-- JavaScript and JQuery -->
  <div>
    <script type="text/javascript">
          
        // Hide the Sidebar if the screen size is less than 480
        $(window).load(function(){
          if($(window).width() <= 480){
            $('#sideNavBar').css({'margin-top':'111px'});
            $('#sideNavBar').hide();
            $('#mainContent').css({'margin-left':'0px'});
          }

          if($('#allCheckbox').attr('checked') === 'checked'){
            $('#all').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#all').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#actionCheckbox').attr('checked') === 'checked'){
            $('#action').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#action').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#adventureCheckbox').attr('checked') === 'checked'){
            $('#adventure').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#adventure').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#comedyCheckbox').attr('checked') === 'checked'){
            $('#comedy').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#comedy').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#crimeCheckbox').attr('checked') === 'checked'){
            $('#crime').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#crime').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#documentaryCheckbox').attr('checked') === 'checked'){
            $('#documentary').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#documentary').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#dramaCheckbox').attr('checked') === 'checked'){
            $('#drama').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#drama').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#familyCheckbox').attr('checked') === 'checked'){
            $('#family').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#family').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#fantasyCheckbox').attr('checked') === 'checked'){
            $('#fantasy').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#fantasy').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#horrorCheckbox').attr('checked') === 'checked'){
            $('#horror').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#horror').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#mysteryCheckbox').attr('checked') === 'checked'){
            $('#mystery').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#mystery').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#romanceCheckbox').attr('checked') === 'checked'){
            $('#romance').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#romance').css({'background-color':'#03a9f4','color':'#000'});
          }

          if($('#thrillerCheckbox').attr('checked') === 'checked'){
            $('#thriller').css({'background-color':'#022e54','color':'#fff'});
          }
          else{
            $('#thriller').css({'background-color':'#03a9f4','color':'#000'});
          }
        });

        // Toggle the sidebar
        $('#menuButton').on('click',function(){
          if($('#sideNavBar').is(':visible')){
            $('#sideNavBar').animate({'width':'0px'},'slow',function(){
              $('#sideNavBar').hide();
            });
            if($(window).width() > 480){
              $('#mainContent').animate({'margin-left':'0px'},'slow');
            }
          }
          else{
              $('#sideNavBar').show();
              $('#sideNavBar').animate({'width':'200px'},'slow');
              
              if($(window).width() > 480){
                $('#mainContent').animate({'margin-left':'200px'},'slow');
              }
          }
        });

        $('#all').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#allCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#action').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#actionCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#adventure').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#adventureCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#comedy').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#comedyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#crime').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#crimeCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#documentary').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#documentaryCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#drama').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#dramaCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#family').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#familyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#fantasy').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#fantasyCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#horror').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#horrorCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#mystery').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#mysteryCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#romance').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#romanceCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#thriller').hover(
          function(){ //inhover
            $(this).css({'background-color':'#004c8c','color':'#fff'});  //Darkblue on hover
          },
          function(){ //outhover
            if($('#thrillerCheckbox').attr('checked') === 'checked'){
              $(this).css({'background-color':'#022e54','color':'#fff'});  //DarkBlue on out of hover and selected
            }
            else{
              $(this).css({'background-color':'#03a9f4','color':'#000'});  //LightBlue on out of hover and not selected
            }
        })

        $('#allCheckbox').on('click',function(){
          if($('#allCheckbox').attr('checked') === 'checked'){
            $('#allCheckbox').attr('checked',false)
            $('#all').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#allCheckbox').attr('checked',true)
            $('#all').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#actionCheckbox').on('click',function(){
          if($('#actionCheckbox').attr('checked') === 'checked'){
            $('#actionCheckbox').attr('checked',false)
            $('#actionCheckbox').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#actionCheckbox').attr('checked',true)
            $('#action').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#adventureCheckbox').on('click',function(){
          if($('#adventureCheckbox').attr('checked') === 'checked'){
            $('#adventureCheckbox').attr('checked',false)
            $('#adventure').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#adventureCheckbox').attr('checked',true)
            $('#adventure').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#comedyCheckbox').on('click',function(){
          if($('#comedyCheckbox').attr('checked') === 'checked'){
            $('#comedyCheckbox').attr('checked',false)
            $('#comedy').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#comedyCheckbox').attr('checked',true)
            $('#comedy').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#crimeCheckbox').on('click',function(){
          if($('#crimeCheckbox').attr('checked') === 'checked'){
            $('#crimeCheckbox').attr('checked',false)
            $('#crime').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#crimeCheckbox').attr('checked',true)
            $('#crime').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#documentaryCheckbox').on('click',function(){
          if($('#documentaryCheckbox').attr('checked') === 'checked'){
            $('#documentaryCheckbox').attr('checked',false)
            $('#documentary').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#documentaryCheckbox').attr('checked',true)
            $('#documentary').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#dramaCheckbox').on('click',function(){
          if($('#dramaCheckbox').attr('checked') === 'checked'){
            $('#dramaCheckbox').attr('checked',false)
            $('#drama').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#dramaCheckbox').attr('checked',true)
            $('#drama').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#familyCheckbox').on('click',function(){
          if($('#familyCheckbox').attr('checked') === 'checked'){
            $('#familyCheckbox').attr('checked',false)
            $('#family').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#familyCheckbox').attr('checked',true)
            $('#family').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#fantasyCheckbox').on('click',function(){
          if($('#fantasyCheckbox').attr('checked') === 'checked'){
            $('#fantasyCheckbox').attr('checked',false)
            $('#fantasy').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#fantasyCheckbox').attr('checked',true)
            $('#fantasy').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#horrorCheckbox').on('click',function(){
          if($('#horrorCheckbox').attr('checked') === 'checked'){
            $('#horrorCheckbox').attr('checked',false)
            $('#horror').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#horrorCheckbox').attr('checked',true)
            $('#horror').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#mysteryCheckbox').on('click',function(){
          if($('#mysteryCheckbox').attr('checked') === 'checked'){
            $('#mysteryCheckbox').attr('checked',false)
            $('#mystery').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#mysteryCheckbox').attr('checked',true)
            $('#mystery').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#romanceCheckbox').on('click',function(){
          if($('#romanceCheckbox').attr('checked') === 'checked'){
            $('#romanceCheckbox').attr('checked',false)
            $('#romance').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#romanceCheckbox').attr('checked',true)
            $('#romance').css({'background-color':'#022e54','color':'#fff'})
          }
        })

        $('#thrillerCheckbox').on('click',function(){
          if($('#thrillerCheckbox').attr('checked') === 'checked'){
            $('#thrillerCheckbox').attr('checked',false)
            $('#thriller').css({'background-color':'#004c8c','color':'#fff'})
          }
          else{
            $('#thrillerCheckbox').attr('checked',true)
            $('#thriller').css({'background-color':'#022e54','color':'#fff'})
          }
        })
    </script>
  </div>

  </body>

</html>